<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center">
            <h1 class="mb-1" style="color: rgb(255, 255, 255); font-family: cursive; text-decoration: underline;">Pizarra Online</h1>
            <h3 class="mb-2" style="color: rgb(255, 255, 255); font-family: cursive; text-decoration: underline;">
                {{!-- <em>El poder de las herramientas Case</em> --}}
            </h3>
            <a class="btn btn-primary btn-lg" href="/signin">Comenzar</a>
        </div>
        <div class="overlay"></div>
    </header>
</main>